/* Color */
$background-color: #f0efe7;
$body-color: #4e443c;
$box-background-color: #fcfcfa;
$box-border-color: #e2e0d8;
$accent-color: #f14e32;
$secondary-color: #9a9994;
$link-color: #0388a6;
$highlight-color: #ff0;

/* Images */
$background-image: '../images/background.jpg';
$search-icon-image: '../images/search-icon.png';

/* Typography */
$body-font: 'Roboto Medium';
$heading-font: 'Roboto Slab';
$monospaced-font: 'Droid Sans Mono';

/* Breakpoints */
$small-bp: 35em;
